<h1>Listing trumpets</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Loudness</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trumpets.each do |trumpet| %>
  <tr>
    <td><%= trumpet.brand %></td>
    <td><%= trumpet.loudness %></td>
    <td><%= link_to 'Show', trumpet %></td>
    <td><%= link_to 'Edit', edit_trumpet_path(trumpet) %></td>
    <td><%= link_to 'Destroy', trumpet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trumpet', new_trumpet_path %>
