<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @rooster.kind %>
</p>

<p>
  <b>Awesomeness:</b>
  <%= @rooster.awesomeness %>
</p>


<%= link_to 'Edit', edit_rooster_path(@rooster) %> |
<%= link_to 'Back', roosters_path %>
